:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #807f7f;
	--text-input-field: #F7F7F7;
	--hospital-green: #9fdba7;
	--sm: 10px;
	--md: 16px;
	--lg: 18px;
}
body {
	margin: 0;	font-family: 'Quicksand', sans-serif;
}